
/*
        Table of Contents
        ------------------
        :: 0.0 – general
        ------------------
        :: 1.0 – header
        ------------------
        :: 2.0 – main
        ------------------
        :: 3.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – general
    ------------------ */
:root {
    --black: #1E1E1C;
    --purple: #CCD2FF;
    --beige: #FEFDEC;
}
#wrapper {
    background-color: var(--purple);
}

/*  ------------------
    1.0 – header
    ------------------ */
header ul.blur {
    background-color: rgba(204, 210, 255, 0.4);
}
header ul li.blur {
    background-color: rgba(229, 232, 255, 0.4);
}

/*  ------------------
    2.0 – main
    ------------------ */
section {
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.row {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    gap: 40px;
}
.tile {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 16px;
    box-shadow: 7px 7px var(--black);
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: white;
    width: 33%;
}
.tile .text {
    width: 100%;
    padding: 40px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    z-index: 1;
}
.tile h2 {
    font-family: Source-Code, sans-serif;
    font-size: 2em;
    text-align: center;
}
.tile p {
    font-size: 1em;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}
.tile figure {
    margin: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
}
.tile img {
    width: 100%;
    height: 100%;
    display: block;
}
.tile:hover {
    transform: translateY(-4px);
    box-shadow: 7px 7px 50px 0 var(--black);
}
.tile:hover figure {
    transform: translateY(16px);
}
.blog {
    width: 50%;
}

/*  ------------------
    3.0 – media queries
    ------------------ */
@media only screen and (max-width: 1080px) {
    section {
        justify-content: center;
        gap: 50px;
    }
    .marketplace, #progress {
        width: 70%;
    }
}
@media only screen and (max-width: 780px) {
    main h1 {
        font-size: 60px;
    }
    section {
        margin: 0 0 80px 0;
    }
}
@media only screen and (max-width: 640px) {
    section {
        margin: 0 0 40px 0;
    }
}
@media only screen and (max-width: 440px) {
    main h1 {
        font-size: 50px;
    }
    section {
        margin: 0 0 80px 0;
    }
    .marketplace, #progress {
        width: 80%;
    }
    .tile p, .tile h2 {
        margin: 0 30px 0 0;
    }
    .tile h2 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 340px) {
    main h1 {
        font-size: 40px;
    }
}