
/*
        Table of Contents
        ------------------
        :: 0.0 – general
        ------------------
        :: 1.0 – header
            // 1.1 – general
            // 1.2 – colour scheme toggle
        ------------------
        :: 2.0 – main
        ------------------
        :: 3.0 – footer
        ------------------
        :: 4.0 – keyframes
        ------------------
        :: 5.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – general
    ------------------ */
:root {
    --border-width: 1px;
    --body-padding: 2rem;
    --nav-padding: 0.7rem;
    --white: #FCF5EC;
    --black: #212121;
/* colour scheme toggle */
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** moon side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --grey: #e8e8ea;
}
html.light-mode {
    --text-color: #212121;
    --border-color: #1A1A1A;
    --bg-color: #FCF5EC;
    --focus-bg: white;
    --focus-text: #212121;
    --focus-outline: #17875a;
    --text-decoration: #17875a;
    --theme1: #F6BEE5;
    --theme2: #FBD0C8;
    --theme3: #FBF7B8;
    --theme4: #A9F1DF;
    --theme5: #BDDFF6;
    --theme6: #C2BBFF;
}
html.dark-mode {
    --text-color: #FCF5EC;
    --border-color: #FCF5EC;
    --bg-color: #212121;
    --focus-bg: #FCF5EC;
    --focus-text: #1A1A1A;
    --focus-outline: #57c497;
    --text-decoration: #57c497;
    --theme1: #a63b77;
    --theme2: #b46d5f;
    --theme3: #d2b960;
    --theme4: #289881;
    --theme5: #59a2d5;
    --theme6: #55469a;
}
* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, background-color 0.3s ease;
}
*:focus {
    appearance: none;
    outline: 1px solid var(--border-color);
}
@font-face {
    font-family: Tan-Paradiso;
    src: url("TAN-PARADISO/TAN - PARADISO.ttf");
    font-display: swap;
}
body {
    width: 100%;
    padding: 0;
    margin: auto;
}
#wrapper {
    margin: 0;
}
#skipnav {
    position: sticky;
    top: 40px;
    height: 0;
    z-index: 3;
}
#skipnav a {
    background: linear-gradient(45deg, var(--theme1) 20%, var(--bg-color) 100%);
    margin-left: 40px;
    padding: 10px 20px;
    position: relative;
    clip-path: polygon(0 0, 0 0);
}
#skipnav a::after {
    position: absolute;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--focus-bg);
    color: var(--focus-text);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-10px,-10px);
}
#skipnav a:focus {
    clip-path: unset;
    outline-offset: 0;
}
.italics {
    font-style: italic;
}
.bold {
    font-weight: 600;
}
.hidden {
    display: none;
}
.heading-p {
    width: 100%;
    text-align: center;
}

/*  ------------------
    1.0 – header

    // 1.1 – general
    ------------------ */
header {
    position: sticky;
    top: 0;
    left: 0;
    transition: box-shadow 200ms ease-in-out;
    z-index: 2;
}
nav {
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--border-width);
    align-items: stretch;
    background-color: var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    box-shadow: 0 0 0 transparent;
    line-height: 1.2;
}
nav > * {
    font-weight: 600;
    text-align: center;
    background-color: var(--bg-color);
}
nav > *, footer .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--nav-padding);
}
.nav {
    grid-column: 2/span 3;
    list-style: none;
    margin: 0;
    gap: 20px;
}
.nav li {
    padding: 10px;
}
/*  ------------------
    // 1.2 – colour scheme toggle
    ------------------ */
.toggle-checkbox {
    display: none;
}
.toggle-label {
    width: 55px;
    height: 30px;
    background: var(--blue-color);
    border-radius: 24px;
    border: 2px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
}
/* sun */
.toggle-label:before {
    box-sizing: border-box;
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: '';
    width: 22px;
    height: 22px;
    border: 2px solid var(--yellow-border);
    margin: 2px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 24px;
    background: var(--yellow-background);
}
/* clouds */
.toggle-label-background {
    width: 5px;
    height: 2px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease-in;
}
.toggle-label-background:before {
    content: '';
    position: absolute;
    top: -2px;
    width: 12px;
    height: 2px;
    border-radius: 5px;
    background: var(--white);
    left: -5px;
    transition: all 150ms ease-in;
}
.toggle-label-background:after {
    content: '';
    position: absolute;
    top: 2px;
    width: 12px;
    height: 2px;
    border-radius: 5px;
    background: var(--white);
    left: -2px;
    transition: all 150ms ease-in;
}
/* night background */
.toggle-checkbox:checked + .toggle-label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
}
/* moon */
.toggle-checkbox:checked + .toggle-label:before {
    background: var(--white);
    border-color: var(--grey);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}
/* moon dimples */
.toggle-label:after {
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow: var(--grey) -15px 8px 0 1px, var(--grey) -18px 12px 0 0;
    right: 0;
    top: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
}
.toggle-checkbox:checked + .toggle-label:after {
    transition-delay: 350ms;
    opacity: 1;
}

/* stars */
.toggle-checkbox:checked + .toggle-label .toggle-label-background {
    left: 35%;
    width: 2px;
}
.toggle-checkbox:checked + .toggle-label .toggle-label-background:before {
    width: 2px;
    height: 2px;
    top: -6px;
    left: -6px;
}
.toggle-checkbox:checked + .toggle-label .toggle-label-background:after {
    width: 2px;
    height: 2px;
    left: -9px;
    top: 5px;
}
/* theme text */
.theme-toggle-text {
    margin-left: 1rem;
}


/*  ------------------
    2.0 – main
    ------------------ */
main {
    display: grid;
    gap: var(--border-width);
    background-color: var(--border-color);
}
main > * {
    background-color: var(--bg-color);
    min-width: 0;
}
hgroup {
    padding: calc(var(--body-padding) * 3) calc(var(--body-padding) * 2);
    text-align: center;
}
h1 {
    font-family: Tan-Paradiso, sans-serif;
    margin: 0;
}
hgroup a {
    color: var(--text-decoration);
    text-decoration: underline;
    text-decoration-color: var(--text-decoration);
    text-decoration-thickness: var(--border-width);
    text-underline-offset: 2px;
}
hgroup a:hover {
    text-decoration: none;
}
.section {
    padding: calc(var(--body-padding) * 2) var(--body-padding);
    line-height: 1.6;
    font-size: 1.125rem;
}
div.figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--body-padding);
    background-color: white;
    padding: var(--body-padding);
    border-radius: 16px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.3);
    overflow: hidden;
}
div.figure > * {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.figure > * img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 16px;
}
div.figure > * figcaption {
    color: black;
}
.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--border-color);
    gap: var(--border-width);
}
.pagination a {
    padding: var(--body-padding);
    background-color: var(--bg-color);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.pagination a:hover, .pagination a:focus {
    background-color: var(--focus-bg);
    color: var(--focus-text);
    text-decoration: underline;
    text-decoration-color: var(--text-decoration);
    text-decoration-thickness: var(--border-width);
    text-underline-offset: 2px;
    box-shadow: inset 0 0 0 1px var(--focus-outline);
    outline: none;
}
.pagination a:hover i, .pagination a:focus i {
    color: var(--focus-text);
}
.pagination li:nth-child(1) a i {
    margin-right: 10px;
}
.pagination li:nth-child(3) a i {
    margin-left: 10px;
}
.login {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.login li a, .login input[type="submit"] {
    font-size: 1rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: 16px;
    padding: var(--nav-padding) calc(var(--nav-padding) * 2);
    margin: 8px;
    text-align: center;
    appearance: none;
    background: transparent;
    line-height: 1.6;
    display: block;
}
.home-link {
    color: var(--text-decoration);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--text-decoration);
    text-decoration-thickness: var(--border-width);
    text-underline-offset: 2px;
    display: block;
}
.home-link:focus {
    outline: none;
}
.link, .link i {
    color: var(--text-decoration);
    text-decoration: underline;
    text-decoration-color: var(--text-decoration);
    text-decoration-thickness: var(--border-width);
    text-underline-offset: 2px;
}
.link:focus {
    outline: none;
}
td form {
    display: inline-block;
}
input[type="submit"] {
    appearance: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: 4px;
    padding: calc(var(--nav-padding) / 2) var(--nav-padding);
    min-width: 65px;
    margin: 4px;
}
input[value="Edit"] {
    background-color: var(--theme4) !important;
}
input[value="Delete"] {
    background-color: var(--theme1) !important;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    gap: 8px;
}
form select, form input[type="text"], form textarea {
    margin: 0 8px;
    padding: 4px;
    min-width: 100px;
    border: var(--border-width) solid var(--border-color);
    border-radius: 4px;
    background-color: white;
    color: var(--black);
}
form select:focus {
    appearance: auto;
    outline: none;
}
form input[type="submit"] {
    background-color: var(--theme6);
}
form label {
    width: 100%;
}
form textarea {
    width: 100%;
    display: block;
    margin: 8px 0;
    padding: 8px;
    font-size: 1em;
}
form fieldset {
    border: var(--border-width) solid var(--border-color);
    border-radius: 16px;
    padding: 0.7rem 1rem 1rem;
    margin: 0 0 8px;
}
form input[type="checkbox"] {
    margin: 0 8px 0 0;
}
form input[type="checkbox"]:focus {
    appearance: auto;
    outline: none;
}

/*  ------------------
    3.0 – footer
    ------------------ */
footer {
    width: 100%;
    border-top: 1px solid var(--border-color);
    background-color: var(--bg-color);
    padding: 20px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
footer p {
    margin: 0;
    padding: var(--nav-padding);
}
footer p a {
    text-decoration: underline;
    text-decoration-color: var(--text-decoration);
    text-decoration-thickness: var(--border-width);
    text-underline-offset: 2px;
}

/*  ------------------
    4.0 – keyframes
    ------------------ */
@keyframes switch {
    0% {
        left: 0;
        width: 22px;
    }
    50% {
        left: 50%;
        transform: translateX(-50%);
        width: 28px;
    }
    100% {
        left: 25px;
        width: 22px;
    }
}
@keyframes reverse {
    0% {
        left: 25px;
    }
    50% {
        left: 50%;
        transform: translateX(-50%);
        width: 28px;
    }
    100% {
        left: 0;
        width: 22px;
    }
}

/*  ------------------
    5.0 – media queries
    ------------------ */
@media only screen and (min-width: 800px) {
    div.figure > * {
        flex: 1;
        width: 50%;
    }
}
@media only screen and (max-width: 680px) {
    footer .social {
        flex: 1;
    }
}
@media only screen and (max-width: 640px) {
    header {
        justify-content: flex-start;
        padding: 0;
        background-color: white;
    }
    nav {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    ul.nav {
        grid-row: 2;
        grid-column: 1 / span 3;
    }
}
@media screen and (min-width: 600px) {
    .section {
        display: grid;
        grid-template-columns: auto [full-start] minmax(0, 3rem) [main-start] minmax(0, 900px) [main-end] minmax(0, 3rem) [full-end] auto;
        gap: 24px 0;
    }
    .section > * {
        grid-column: main;
        margin: 0;
    }
}
@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }
}
@media only screen and (max-width: 400px) {
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    ul.nav {
        grid-row: 3;
    }
    nav .theme {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    .pagination {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 320px) {
    hgroup {
        padding: calc(var(--body-padding) * 2) 0 calc(var(--body-padding) * 3);
    }
    footer {
        padding: 20px 0;
    }
}
