
/*
        Table of Contents
        ------------------
        :: 0.0 – general
        ------------------
        :: 1.0 – main
            // 1.1 – heading
            // 1.2 – style tile
            // 1.3 – marketplace hero image
            // 1.4 – wireframes
            // 1.5 – examples
            // 1.6 – what i learned
        ------------------
        :: 2.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – general
    ------------------ */
:root {
    --mp-red: #C9181B;
    --mp-green: #22544a;
    --mp-purple: #6172F3;
    --mp-grey: #C1C7CD;
    --mp-lightgrey: #E4E7EC;;
    --accent: #91AAA5;
}
#wrapper {
    background-color: #AACCC6;
}
.false {
    display: none !important;
}


/*  ------------------
    1.0 – main
    ------------------ */
main {
    padding: var(--body-padding) calc(var(--body-padding) * 2) calc(var(--body-padding) * 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
        line-height: 1.5;
    }

    & .maintext {
        width: 50%;
        padding: var(--body-padding) 0;
    }

    & figure {
        margin: 0;
        position: relative;
        border-radius: 16px;

        & img {
            width: 100%;
            position: relative;
            display: block;
            border-radius: 16px;
        }

        & figcaption {
            opacity: 0;
            color: #1E1E1C;
            position: absolute;
            padding: 10px 15px;
            background-color: rgba(145, 170, 165, 0.5);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px 10px white;
            border-radius: 25px;
            transition: opacity 0.2s ease;
        }

        &:hover figcaption, &:focus figcaption {
            opacity: 1;
        }

    }
}

/*  ------------------
    // 2.1 – heading
    ------------------ */
#title {
    padding: 0 0 var(--body-padding);

    & h1 {
        padding: 0 0 calc(var(--body-padding) / 2);
    }

    & h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 500;
    }
}
h2 {
    padding: 0 0 calc(var(--body-padding) / 4);
}

/*  ------------------
    // 2.2 – style tile
    ------------------ */

#style-tile {
    width: 70%;

    & figcaption {
        top: 25px;
        right: 25px;
    }
}

#style-tile img, #hero img, .mobile {
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
}

/*  ------------------
    // 2.3 – marketplace hero image
    ------------------ */
#hero {
    width: 85%;

    & figcaption {
        bottom: 25px;
        left: 25px;
    }
}

/*  ------------------
    // 2.4 – wireframes
    ------------------ */
#wireframes {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    border-radius: 16px;

    & #arrows {
        max-width: 20%;

        & img#circle {
            width: 200px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        & img#arrow1 {
            width: 180px;
            display: block;
            position: relative;
            right: 27%;
            transform: rotate(205deg) translate(0, 45px);
        }

        & img#arrow2 {
            width: 200px;
            display: block;
            position: relative;
            transform: rotate(32deg) translate(0, 70px);
            left: 30%;
        }
    }

    & figure.mobile {
        width: 300px;
        height: 648px;
        overflow: scroll;

        & img {
            position: absolute;
        }
    }
}

/*  ------------------
    // 2.5 – examples
    ------------------
        2.2.1 – history timeline
        2.2.2 – about menu
        2.2.3 – toggle switch
    ------------------ */
#examples {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: calc(var(--body-padding) / 2);
    width: 100%;
}

/*  ------------------
    // 2.2.1 – history timeline
        desktop ver.
    ------------------ */
#our-history {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 50px;
    border-radius: 16px;
    width: 70%;
    height: 100%;
    transition: height 0.3s;

    & h2 {
        font-size: 25px;
        font-weight: 650;
        color: var(--mp-red);
    }

    & p {
        font-size: 16px;
        font-weight: 350;
        line-height: 25px;
        margin: 0;
        text-align: left;
        min-width: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & dl#timeline {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 20% 80%;
        width: 100%;
        overflow: scroll;

        & dt a {
            grid-column: 1/2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & i {
                display: none;
            }
        }

        & dd {
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 0 0 50px;
            margin: 0;
            position: relative;
            min-width: 250px;

            & p {
                padding: 0 0 20px;
            }

            &:nth-child(8) p {
                padding-bottom: 10px;
            }

            &::before {
                content: "";
                background-color: var(--mp-lightgrey);
                position: absolute;
                top: 0;
                left: 0;
                width: 2px;
                height: 100%;
            }

            & .transcript {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
                width: 110px;
                padding: 8px 12px;
                border-radius: 10px;
                border: 1px solid var(--mp-grey);
                font-size: 0.9em;
                font-weight: 600;
                color: var(--mp-purple);
                background-color: white;

                & i {
                    color: var(--mp-purple);
                    display: block !important;
                }
                &:nth-child(1) {
                    margin: 0 0 20px;
                }
            }
        }
    }
}

/*  ------------------
    // 2.2.1 – history timeline
        mobile ver.
    ------------------ */
#our-history dl#timeline.mobileAcc {
    display: flex;
    flex-flow: column nowrap;

    & dt {
        & a {
            border: 1px solid var(--mp-grey);
            border-left: 0;
            border-right: 0;
            padding: 16px;
            cursor: pointer;
            margin-top: -1px;
            z-index: 1;
        }

        & p {
            width: auto;
        }

        & i {
            display: block;
            transition: 0.4s;

            &.rotate {
                transform: rotate(90deg);
            }
        }
    }

    & dd {
        background-color: #F2F4F8;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        &::before {
            display: none;
        }

        & p {
            padding: 16px;
        }

        &:nth-child(8) p {
            padding: 16px 16px 0;
        }

        & .transcript {
            margin: 16px;
        }
    }
}

/*  ------------------
    // 2.2.2 – about menu
        desktop ver.
    ------------------ */
#about-menu {
    padding: 30px;
    background-color: white;
    position: relative;
    text-align: left;
    width: 310px;
    height: 250px;
    border-radius: 16px;
    transition: height 0.3s, width 0.3s, border-radius 0.3s;
    overflow: hidden;

    & div {
        width: 250px;
        position: relative;

        #aboutButton {
            opacity: 0;
            position: absolute;
            z-index: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px 24px;
            background: white;
            border-radius: 25px;
            border: 0;
            width: 100%;
            height: 50px;
            font-size: 1em;
            font-weight: 600;
            cursor: pointer;
        }

        & ul#aboutList {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 35px;
            font-weight: 600;
            margin: 0;
            min-width: 250px;
            width: 100%;
            position: absolute;

            & li {
                & a {
                    cursor: pointer;

                    &:hover:not(.active) {
                        color: #C9181B;
                    }
                }
                &:nth-child(1) a {
                    color: #22544a;
                    position: relative;

                    &::after {
                        content: "";
                        background-color: #22544a;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -2px;
                        height: 2px;
                    }
                }
            }
        }
    }
}

/*  ------------------
    // 2.2.2 – about menu
        mobile ver.
    ------------------ */
#about-menu.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 50px;
    padding: 0;
    border-radius: 25px;
    overflow: revert;

    & #aboutButton {
        opacity: 1;
        transition: opacity 0.3s;
    }

    & ul#aboutList {
        padding: 24px;
        margin: 16px 0;
        background-color: white;
        border: 1px solid #C1C7CD;
        border-radius: 8px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50px;
        z-index: 2;
    }
}

/*  ------------------
    // 2.2.3 – toggle switch
    ------------------ */
.toggle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: calc(var(--body-padding) / 2);

    & p {
        width: 66px;
        text-align: left;
        margin: 0;
        min-width: 0;
    }

    & .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        min-width: 0;
        height: 30px;
        border-radius: 34px;

        & input {
            opacity: 0;
            width: 0;
            height: 0;
            min-width: 0;

            &:checked + .slider {
                border: var(--border-width) solid #22544A;
                background-color: #22544A;
            }

            &:focus + .slider {
                border: var(--border-width) solid #AACCC6;
                box-shadow: 0 0 0 2px #91AAA5;
            }

            &:checked:focus + .slider {
                box-shadow: 0 0 0 2px #22544A;
            }

            &:checked + .slider:before {
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
                transform: translateX(30px);
            }
        }

        & .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            min-width: 0;
            background-color: #91AAA5;
            border: var(--border-width) solid #91AAA5;
            box-shadow: 0 0 0 2px #AACCC6;
            border-radius: 34px;
            -webkit-transition: .4s;
            transition: .4s;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 0;
                background-color: #AACCC6;
                border-radius: 50%;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }

    }
}

/*  ------------------
    // 2.6 – what i learned
    ------------------ */
#learn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: calc(var(--body-padding) / 2);;
    width: 90%;

    & p {
        flex: 1;
        min-width: 350px;
        max-width: 674px;
        padding: var(--body-padding);
        margin: 0;
        border-radius: 16px;
        background-color: white;
        box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
    }
}

/*  ------------------
    // 3.0 – media queries
    ------------------ */
@media only screen and (max-width: 1330px) {
    main .maintext {
        width: 60%;
    }
}
@media only screen and (max-width: 1230px) {
    #arrows {
        transform: scale(0.75);
    }
}
@media only screen and (max-width: 1130px) {
    #wireframes {
        justify-content: center;
        gap: var(--body-padding);
    }
    #arrows {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    main .maintext {
        width: 80%;
    }
    #style-tile, #hero, #our-history {
        width: 90%;
    }
}
@media only screen and (max-width: 880px) {
    main, #our-history {
        padding: var(--body-padding);
    }
}
@media only screen and (max-width: 640px) {
    #wrapper header {
        background-color: var(--accent);
    }
    main > * {
        width: 100% !important;
    }
}
@media only screen and (max-width: 560px) {
    figcaption {
        opacity: 1;
        position: initial;
        padding-top: calc(var(--body-padding) / 2);;
        background-color: transparent;
        backdrop-filter: none;
        box-shadow: none;
    }
    #our-history {
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    .mobile {
        width: 200px;
        height: 432px;
    }
}
@media only screen and (max-width: 400px) {
    #wireframes {
        padding: calc(var(--body-padding) / 2);
    }
    #about-menu {
        width: 100%;
    }
    aside ul {
        padding-left: 10px;
    }
    .toggle {
        transform: scale(0.9);
    }
}