
/*
        Table of Contents
        ------------------
        :: 0.0 – general
        ------------------
        :: 1.0 – header
        ------------------
        :: 2.0 – main
            // 2.1 – heading
            // 2.2 – form setup
            // 2.3 – validation
        ------------------
        :: 3.0 – hcard
        ------------------
        :: 4.0 – animations
        ------------------
        :: 5.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – general
    ------------------ */
:root {
    --error: #c74436;
    --correct: #67a185;
    --checked: #f64f9e;
    --hover: #f51880;
}
#wrapper {
    background-color: var(--beige);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  ------------------
    2.0 – main

    // 2.1 – heading
    ------------------ */
hgroup {
    border-bottom: var(--border-width) solid var(--black);
}

/*  ------------------
    // 2.2 – form setup
    ------------------ */
#form-content {
    background-color: var(--pink);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & > * {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 50%;
        border: var(--border-width) solid var(--black);
        border-top: 0;
        border-bottom: 0;
        background-color: white;
        margin: 0;
        padding: var(--body-padding);
    }

    & fieldset {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    & p {
        font-size: 1rem;
    }
}
label {
    padding: 16px;
    position: relative;

    & input, & textarea {
        display: block;
        margin: 8px 0;
        padding: 10px;
        width: 100%;
        min-width: 0;
        border: calc(var(--border-width) / 2) solid var(--black);
        border-radius: 8px;
    }

    #contact &, #submitForm & {
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;
        align-items: center;
        cursor: pointer;
    }
}



/*  ------------------
    // 2.2.1 – personal details
    ------------------ */
#form-content #details {
    flex-flow: row wrap;

    & label {
        width: 50%;
    }
}

/*  ------------------
    // 2.2.2 – reason
    ------------------ */
textarea {
    height: 100px;
}

/*  ------------------
    // 2.2.3 – method of contact
    ------------------ */
#contact {

    & p {
        margin: 16px;
    }

    & label {
        padding-top: 0;

        &:nth-child(3) {
            padding-bottom: 0;
        }

        & input[type="radio"] {
            appearance: none;
            width: 13px;
            height: 13px;
            padding: 0;
            border: calc(var(--border-width) / 2) solid #828282;
            position: relative;
            background-color: white;


            &:focus {
                outline-color: var(--pink);
                outline-offset: var(--border-width);
                border-color: var(--pink);
            }

            &:checked {
                border-color: var(--checked);

                &::after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: var(--checked);
                }

                &:hover {
                    border-color: var(--hover);

                    &::after {
                        background-color: var(--hover);
                    }
                }
            }
        }
    }
}

/*  ------------------
    // 2.2.4 – submit
    ------------------ */
#submitForm {
    & #termsLabel {
        justify-content: center;

        & input[type="checkbox"] {
            width: 13px;
            margin: 0;
            outline-offset: var(--border-width);
        }
    }

    & #buttons {
        display: flex;
        gap: 16px;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin-top: 24px;

        & input {
            width: 120px;
            height: 30px;
            margin: 0;
            padding: 0;
            border-radius: 3px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;

            &#submit {
                border: revert;
                color: revert;

                &:not(:disabled) {
                    background-color: var(--pink);
                    color: white;
                    border: var(--border-width) solid var(--hotpink);
                }
            }

            &#clear {
                background-color: #AEB1FC;
                color: white;
                border: var(--border-width) solid var(--purple);
            }
        }
    }
}

/*  ------------------
    // 2.3 – validation
    ------------------ */
.status-msg {
    padding: 36px 40px 0;

    & div {
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 20px;
        border-width: 1px;
        border-style: dashed;
        border-radius: 8px;

        & p {
            font-weight: 700;
            margin: 8px 8px 12px;
        }

        & ul li {
            margin: 8px;
        }
    }

    &.error {
        & div {
            border-color: var(--error);
        }
        & p, & li {
            color: var(--error);
        }
    }

    &.success div {
        border-color: var(--correct);
        color: var(--correct);
        padding: 28px;
    }
}

.error, .correct, .success {
    & span {
        font-size: 0.9em;
        min-width: 0;
    }
}

.error {
    color: var(--error);
}

#radiosError {
    padding: 0 16px;
    margin-bottom: 10px;
}

span.correct, .success {
    color: var(--correct);
    position: absolute;
    top: 16px;
    right: 16px;
}

input, textarea {
    &.error {
        border-color: var(--error);

        &:focus {
            box-shadow: 0 0 5px var(--error);
            outline: none;
        }
    }

    &.correct {
        border-color: var(--correct);

        &:focus {
            box-shadow: 0 0 5px var(--correct);
            outline: none;
        }
    }
}

/*  ------------------
    3.0 – hcard
    ------------------ */
#hcard-section {
    display: none;
    padding-top: 0;
    align-items: flex-start;
    overflow: scroll;

    & *:not(h2) {
        font-family: "Roboto", sans-serif;
        color: #2c363a;
    }

    & *:not(th, #full-name, #full-name .placeholder) {
        font-size: 14px;
    }

    & h2 {
        font-size: 1.7rem !important;
        margin: 16px 0;
        width: 100%;
        text-align: center;
    }

    & h3 {
        font-size: 1.3rem !important;
        margin: 16px 0 7px;
        line-height: 1.3;

        & span {
            font-size: 1.3rem !important;
        }
    }

    & .placeholder {
        color: darkgrey;
    }
}

.short-header {
    display: flex;
    margin-bottom: 1rem;

    & img {
        margin: 0 1rem 0 0;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        min-width: 0;
    }

    & p {
        line-height: 1.5;
    }

    & #header-name {
        color: #00acff !important;
    }

    &.header-links {
        & span {
            font-size: 90% !important;
            margin-right: 0.5rem;
            text-decoration: none;
            white-space: nowrap;
            display: inline-block;
            color: #00acff !important;
            min-width: 0;

            &::before {
                font-size: 1.25em;
                display: block;
                float: left;
                margin: 0 0.25rem 0 0;
                width: 1.18em;
                font-family: "Font Awesome 6 Free", sans-serif;
                font-weight: 900;
                text-align: center;
                line-height: 1.3;
            }
        }

        & .details::before {
            content: "\f0e0";
        }

        & .plain::before {
            content: "\f039";
        }
    }
}

table.h-card, .h-card th, .h-card td {
    border-collapse: collapse;
    min-width: 0;
}

table.h-card {
    width: calc(100% - 32px);
    margin: 16px;
    padding-top: 0.5rem;

    & th {
        border-bottom: calc(var(--border-width) / 2) solid black;
        padding: calc(var(--nav-padding) / 2) var(--nav-padding);
        font-size: 2em !important;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 7px 0;
        font-weight: 500;

        & #full-name {
            color: lightslategrey !important;
        }
    }

    & td {
        font-size: 14px;
    }

    & .v1row1 td {
        padding: var(--nav-padding) var(--nav-padding) calc(var(--nav-padding) / 2);
        text-wrap: nowrap;
        vertical-align: baseline;
    }

    &.v1row2 {
        border-bottom: 1px solid lightgrey;

        & td {
            padding: calc(var(--nav-padding) / 2) var(--nav-padding) var(--nav-padding);
        }
    }

    & .v1message td {
        padding: 40px 50px;

        & div {
            padding: 24px;
            border: calc(var(--border-width) / 2) solid lightgrey;
            border-radius: 12px;
        }
    }
}

/*  ------------------
    4.0 – animations
    ------------------ */
@keyframes shadow {
    0% { box-shadow: none; }
    100% { box-shadow: 7px 7px var(--black); }
}

/*  ------------------
    5.0 – media queries
    ------------------ */
@media only screen and (max-width: 1200px) {
    #form-content > * {
        width: 70%;
    }
}
@media only screen and (max-width: 817px) {
    #form-content > * {
        width: 90%;
    }
}
@media only screen and (max-width: 640px) {
    #wrapper header {
        background-color: var(--pink);
    }
}
@media only screen and (max-width: 530px) {
    #details label {
        width: 100% !important;
    }
    #form-content > * {
        padding-left: calc(var(--body-padding) / 2);
        padding-right: calc(var(--body-padding) / 2);
    }
}