
/*
        Table of Contents
        ------------------
        :: 0.0 – general
        ------------------
        :: 1.0 – main
            // 1.1 – heading
            // 1.2 – gallery
            // 1.3 – image viewer
        ------------------
        :: 2.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – general
    ------------------ */

#wrapper {
    background-color: var(--lightpurple);
}


/*  ------------------
    1.0 – main

    // 1.1 – heading
    ------------------ */
hgroup {
    border-bottom: 2px solid #1E1E1C;
}

/*  ------------------
    // 1.2 – gallery
    ------------------ */
#gallery {
    margin: 0 60px;
    padding: var(--body-padding);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    background-color: white;
    border-left: var(--border-width) solid var(--black);
    border-right: var(--border-width) solid var(--black);
    list-style: none;

    & .galleryImage {
        object-fit: cover;
        border: calc(var(--border-width) * 2) solid white;
        border-radius: 16px;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.6);
        }
    }
}

/*  ------------------
    // 1.3 – image viewer
    ------------------ */
#imagePopup {
    display: none;

    &.display {
        display: flex;
        justify-content: center;
    }
}

#blocker {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background-color: rgba(100, 100, 100, 0.4);
    z-index: 1;
}

#imageContainer {
    position: fixed;
    top: 0;
    width: 950px;
    height: calc(100vh - 80px);
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAB4D5;
    border: 2px solid #1E1E1C;
    border-radius: 16px;
    z-index: 2;
}

#expandedImage {
    background-color: white;
    width: 100%;
    height: 90%;
    border: 2px solid #1E1E1C;
    border-radius: 16px;
    object-fit: contain;
}

button {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 24px;
    min-width: 0;
    transition: background-color 0.2s;

    &:focus {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.navigateImage {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &#navLeft {
        left: 40px;
    }

    &#navRight {
        right: 40px;
    }

    &.sliderNav {
        min-width: 0;
        position: relative;
        bottom: 0;
        cursor: pointer;
    }
    &#sliderLeft {
        margin-right: 20px;
    }
    &#sliderRight {
        margin-left: 20px;
    }
}

#imageSlider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 50px;
}

.container {
    overflow: hidden;
}

.slider {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;
    bottom: 0;
    width: 290px;
    height: 50px;
    position: relative;

    &.sliding-transition {
        transition: transform 0.3s ease-in-out;
    }

    & .sliderImage {
        border-radius: 3px;
        cursor: pointer;
        display: block;
        object-fit: cover;
        min-width: 0;
        width: 100%;
        height: 100%;
    }

    & li {
        min-width: 50px;
    }

    & .currentImage {
        border: var(--border-width) solid white;
    }
}
.sliderWrapper {
    display: flex;
    position: absolute;
    border-radius: 50px;
    bottom: 0;
    transform: scale(0.75);
    transition: all 0.2s ease;

    &:hover, &:focus, &:has(button:focus, img:focus) {
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        transform: scale(1);
        padding: 20px 30px;
    }
}

/*  ------------------
    2.0 – media queries
    ------------------ */
@media only screen and (max-width: 1080px) {
    #imageContainer {
        width: 80%;
    }
}
@media only screen and (max-width: 790px) {
    main h1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 660px) {
    #gallery {
        margin: 0 30px;
    }
}
@media only screen and (max-width: 640px) {
    #wrapper header {
        background-color: #FAB4D5;
    }
    #gallery {
        margin: 0 30px;
        gap: 30px;
    }
    #imageContainer {
        width: 90%;
    }
    #bigSlider {
        width: 170px;
    }
    .sliderNav {
        width: 30px;
    }
}
@media only screen and (max-width: 580px) {
    #gallery {
        margin: 0;
    }
}
@media only screen and (max-width: 560px) {
    main h1 {
        font-size: 50px;
    }
    p {
        font-size: 1em;
    }
}
@media only screen and (max-width: 520px) {
    #gallery {
        margin: 0 60px;
        padding: 20px;
    }
}
@media only screen and (max-width: 420px) {
    main h1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 380px) {
    #gallery {
        margin: 0 40px;
    }
}
@media only screen and (max-width: 330px) {
    main h1 {
        font-size: 40px;
    }
    #gallery {
        margin: 0 20px;
    }
}