/*
        Table of Contents
        ------------------
        :: 0.0 – main
        ------------------
        :: 1.0 – media queries
        ------------------
*/

/*  ------------------
    0.0 – main
    ------------------ */
.section ol {
    display: flex;
    flex-direction: column;
}
.section ol li {
    margin: 4px 0;
    padding-left: 8px;
}
.section ul {
    list-style: none;
}
.section ul li:not(ul li ul li) {
    position: relative;
}
.section ul li:not(ul li ul li)::before {
    content: '–';
    position: absolute;
    left: -1em;
}
.section ul li ul {
    list-style: disc;
}
